{% load static %} {% block content %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'tasks/style/home.css' %}" />
  </head>
  <body>
    <div class="header">
      <div class="text">
        <h1>Olá, <strong>{{ user.login }}</strong></h1>
        <p class="subtitle">Aqui está sua lista de tarefas:</p>
      </div>
      <div class="actions">
        <button class="btn-task" onclick="createTask()">Criar Tarefa</button>
        <button class="btn-task" onclick="deleteTask()">Deletar Tarefa</button>
        <button class="btn-logout" onclick="logout()">Logout</button>
      </div>
    </div>
    <div id="taskModal" class="popup">
      <form id="createTask" method="POST">
        {% csrf_token %}
        <div class="popup-content">
          <h2>Criar Nova Tarefa</h2>
          <input
            type="text"
            id="taskTitle"
            class="input-field"
            placeholder="Título da tarefa"
          />
          <input
            type="text"
            id="taskDescription"
            class="input-field"
            placeholder="Descrição"
          />
          <div class="status">
            <a>Status: </a>
            <select id="taskStatus" name="status">
              <option value="Pendente">Pendente</option>
              <option value="Completa">Completa</option>
            </select>
          </div>
          <div class="datesContainer">
            <a>Data de criação</a>
            <input
              type="date"
              id="taskDate"
              class="input-field"
              name="creationDate"
            />
            <a>Data da última atualização</a>
            <input
              type="date"
              id="taskLastUpdate"
              class="input-field"
              name="updateDate"
            />
          </div>
          <button onclick="saveTask()">Salvar</button>
          <button onclick="closeModal()">Cancelar</button>
        </div>
      </form>
    </div>
    <div class="tasks-container">
      {% for task in tasks %}
      <div class="task">
        <a>{{ task.title }}</a>
      </div>
      {% endfor %}
    </div>
  </body>
  <script src="{% static 'tasks/js/home.js' %}"></script>
</html>

{% endblock %}
